div.choice {
  height: 200px;
  cursor: pointer;
  transition: background 0.25s ease-in-out;
}
div.choice:hover {
  background: #eee;
}
.sc-title {
  text-align: center;
}
.sc-title::first-line, .sc-red {
  color: #e23a05;
}
.sc-title::first-line {
  font-weight: bold;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
div#quizz div#questions ul li {
  transition: background 0.25s ease-in-out;
  cursor: pointer;
}
div#quizz div#questions ul li:not(.active):hover {
  background: #eee;
}
div#validate, div#scroll {
  opacity: 0.5;
  transition: opacity 0.25s linear;
  display: none;
  bottom: 0;
  position: fixed;
  z-index: 1337;
  margin: 10px;
}
div#validate:hover, div#scroll:hover {
  opacity: 0.8;
}
div#validate {
  right: 0;
}
div#scroll {
  left: 0;
}
div#winmsg, div#quizz {
  display: none;
}
div#winmsg {
  padding: 20px;
  width: 500px;
  text-align: center;
  margin: 0 auto;
}
